<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	
	<appSettings>
      <add key="port" value="21" />
      <add key="server" value="mkwk018.cba.pl" />
      <add key="username" value="pp32818" />
      <add key="password" value="Ftp*server1" />
      <add key="directory" value="/pp32818.cba.pl"/>
    </appSettings>
</configuration>