<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	
	<appSettings>
      <add key="server" value="pop3.wp.pl" />
      <add key="port" value="995" />
      <add key="username" value="pp32818zut" />
      <add key="password" value="programowanie*sieciowe" />
      <add key="time" value="5" />
    </appSettings>
</configuration>